article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  color: #24292e;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

html,
body {
  width: 100%;
  height: 100%;
}

b,
strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #0366d6;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vw;
  background: url(../images/svg/background.svg), #ffffff;
  background-position: center 10%;
  background-size: cover;
}

@media (min-width: 20em) {
  header {
    height: 420px;
  }
}

@media (min-width: 38em) {
  header {
    height: 600px;
  }
}

header h1 {
  margin: 0;
  padding-top: 12px;
  font-size: 24px;
  line-height: 1.125;
  font-weight: 500;
  text-align: center;
  color: #24292e;
}

header h1 span {
  display: block;
  font-size: 17px;
  text-align: right;
  letter-spacing: -1px;
  color: #586069;
}

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vw;
  background: #e5e5e5;
  overflow-y: auto;
  z-index: 9;
}

@media (min-width: 20em) {
  nav {
    position: absolute;
    left: 0;
    height: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 1rem;
    padding-left: 1rem;
    background: transparent;
  }
}

@media (min-width: 48em) {
  nav {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

nav a,
nav>div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 100%;
  height: 100%;
  font-size: 19px;
}

@media (min-width: 20em) {
  nav a,
  nav>div {
    position: relative;
    display: inline-block;
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;
    min-width: auto;
    min-width: initial;
    font-size: 15px;
    line-height: 1;
  }
}

@media (min-width: 38em) {
  nav a,
  nav>div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 2.75rem;
    font-size: 17px;
  }
  nav a:last-of-type,
  nav>div:last-of-type {
    margin-right: 0;
  }
}

nav>div:after {
  content: 'Swipe right';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.725rem;
  color: #b3b3b3;
  line-height: 1;
  letter-spacing: 0.45rem;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
}

@media (min-width: 20em) {
  nav>div {
    display: none;
  }
}

/* Register button */
nav a:last-of-type {
  padding: 12px 14px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #0366d6;
  border-radius: 6px;
}

nav a:last-of-type:hover {
  text-decoration: none;
  background-color: #0055b5;
}

nav a:last-of-type:focus {
  box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.4);
}

.is-active:after {
  content: '';
  position: absolute;
  display: block;
  width: 50%;
  height: 2px;
  left: 50%;
  margin: 5px 0 0 -25%;
  background-color: #0366d6;
}

@media (min-width: 20em) {
  .is-active:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    left: initial;
    margin: 5px 0 0 0;
    padding: 0 0;
  }
}

.go-out {
  display: none;
}

main {
  position: relative;
  padding-bottom: 4rem;
  background-color: #fafbfc;
  border-top: 1px #eaecef solid;
}

@media (min-width: 38em) {
  main {
    padding-bottom: 12rem;
  }
}

.Article {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1265px;
}

@media (min-width: 20em) {
  .Article {
    width: 90%;
  }
}

.Article p {
  font-size: 17px;
}

@media (min-width: 38em) {
  .Article p {
    font-size: 19px;
  }
}

@media (min-width: 58em) {
  .Article p {
    width: 90%;
  }
}

.Article p sup {
  vertical-align: super;
  font-size: small;
}

.Article li {
  font-size: 19px;
}

.Article-column {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 48em) {
  .Article-column {
    width: 48%;
  }
}

@media (min-width: 58em) {
  .Article-column {
    padding: 0;
    width: 46%;
    border-bottom: none;
  }
}

.Article-column:last-of-type {
  border-bottom: none;
}

.Article-title {
  margin: 0;
  padding-top: 2rem;
  padding-right: 0;
  font-size: 22px;
  line-height: 1.325;
  font-weight: 600;
}

@media (min-width: 38em) {
  .Article-title {
    font-size: 26px;
  }
}

@media (min-width: 58em) {
  .Article-title {
    padding-top: 4rem;
    padding-right: 2rem;
    font-size: 28px;
  }
}

.Article-title sup {
  vertical-align: super;
  font-size: small;
}

.Article-subTitle {
  margin: 0;
  padding-top: 1rem;
  padding-right: 0;
  font-size: 18px;
  line-height: 1.325;
  font-weight: 500;
  text-indent: -0.450rem;
  color: #586069;
}

@media (min-width: 38em) {
  .Article-subTitle {
    font-size: 22px;
  }
}

@media (min-width: 58em) {
  .Article-subTitle {
    font-size: 24px;
  }
}

.PhotoGrid {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 1265px;
  height: 240px;
}

@media (min-width: 20em) {
  .PhotoGrid {
    height: 340px;
  }
}

@media (min-width: 38em) {
  .PhotoGrid {
    margin-top: -24px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    height: 400px;
  }
}

@media (min-width: 48em) {
  .PhotoGrid {
    margin-top: -48px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 420px;
  }
}

@media (min-width: 58em) {
  .PhotoGrid {
    width: 90%;
    height: 560px;
  }
}

.PhotoGrid-wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 240px;
}

@media (min-width: 20em) {
  .PhotoGrid-wrap {
    min-height: 340px;
  }
}

@media (min-width: 38em) {
  .PhotoGrid-wrap {
    min-height: 400px;
  }
}

@media (min-width: 48em) {
  .PhotoGrid-wrap {
    min-height: 420px;
  }
}

@media (min-width: 58em) {
  .PhotoGrid-wrap {
    min-height: 560px;
  }
}

.PhotoGrid-side {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  background-image: url(../images/front-img-8.jpg);
  background-repeat: no-repeat;
  background-position: 30% 0;
  background-size: cover;
  border: 1px #eaecef solid;
  border-radius: 6px;
}

@media (min-width: 38em) {
  .PhotoGrid-side {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
}

.PhotoGrid-vertical {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
  margin-left: 8px;
}

@media (min-width: 48em) {
  .PhotoGrid-vertical {
    margin-left: 16px;
  }
}

@media (max-width: 48em) {
  .PhotoGrid-vertical.go-out {
    display: none!important;
  }
}

.PhotoGrid-imageOne {
  background-image: url(../images/front-img-9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px #eaecef solid;
  border-radius: 6px;
}

.PhotoGrid-imageTwo {
  background-image: url(../images/front-img-11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px #eaecef solid;
  border-radius: 6px;
}

.PhotoGrid-imageThree {
  background-image: url(../images/front-img-13.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px #eaecef solid;
  border-radius: 6px;
}

.PhotoGrid-imageFour {
  background-image: url(../images/front-img-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px #eaecef solid;
  border-radius: 6px;
}

.PhotoGrid-imageOne,
.PhotoGrid-imageTwo,
.PhotoGrid-imageThree,
.PhotoGrid-imageFour {
  position: relative;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

.PhotoGrid-imageTwo,
.PhotoGrid-imageFour {
  margin-top: 8px;
}

@media (min-width: 48em) {
  .PhotoGrid-imageTwo,
  .PhotoGrid-imageFour {
    margin-top: 16px;
  }
}

.File {
  position: relative;
  display: block;
  margin-top: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  width: 100%;
  background: #ffffff;
  border: 2px solid #ff0000;
  border-radius: 6px;
  transition: transform 0.15s ease;
}

.File:after {
  display: none;
}

.File:hover,
.File:focus {
  transform: scale(1.02);
  text-decoration: none;
}

.File:before {
  display: none !important;
}

@media (min-width: 38em) {
  .File {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 58em) {
  .File {
    margin-top: 4.25rem;
  }
}

.File img {
  height: 3rem;
}

@media (min-width: 38em) {
  .File img {
    height: 3.4rem;
  }
}

.File-title {
  display: inline-block;
  margin: 0;
  padding-left: 1rem;
  vertical-align: middle;
  font-size: 22px;
  line-height: 1.35;
  font-weight: 600;
  color: #24292e;
}

@media (min-width: 38em) {
  .File-title {
    font-size: 24px;
  }
}

.File-title span {
  display: block;
  font-size: 22px;
  color: #586069;
}

.DateList {
  list-style: none;
  padding: 0;
}

.DateList-item {
  list-style: none;
  display: block;
  clear: both;
  margin-top: 2.5rem;
  padding: 0;
}

.DateList-item:after {
  content: '';
  display: block;
  clear: both;
}

.DateList-itemLeft {
  display: block;
  margin-right: 0.75rem;
  width: 82px;
  float: left;
}

.DateList-itemRight {
  display: block;
  float: left;
  width: 65%;
}

.DateList-itemDate {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: right;
  color: #6455bf;
}

@media (min-width: 38em) {
  .DateList-itemDate {
    font-size: 24px;
  }
}

.DateList-itemYear {
  display: block;
  font-size: 14px;
  line-height: 1;
  text-align: right;
  color: #586069;
}

.DateList-itemTitle {
  display: block;
  font-size: 20px;
  line-height: 1.25;
}

@media (min-width: 38em) {
  .DateList-itemTitle {
    font-size: 24px;
  }
}

.CommList {
  list-style: none;
  padding: 0;
}

.CommList-item {
  list-style: none;
  display: block;
  clear: both;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.8rem;
  padding-left: 1rem;
  background: #fff;
  border: 1px #e1e4e8 solid;
  border-radius: 6px;
}

.CommList-item:after {
  content: '';
  display: block;
  clear: both;
}

.CommList-itemLeft {
  display: block;
  width: 2.6rem;
  float: left;
  border-radius: 100%;
}

.CommList-itemLeft img {
  display: block;
  margin-top: -12px;
  margin-left: -24px;
  opacity: 0.9;
  border: 1px #e1e4e8 solid;
  border-radius: 6px;
  transform: rotateZ(-5deg);
}

.CommList-itemRight {
  display: block;
  float: left;
  width: 75%;
}

.CommList-itemName {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 38em) {
  .CommList-itemName {
    font-size: 22px;
  }
}

.CommList-itemName > span {
  display: block;
  padding-top: 0.25rem;
  font-size: 17px;
  font-weight: 500;
  color: #586069;
}

.Table {
  margin-top: -4rem;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  background: #fff;
  border: 1px #e1e4e8 solid;
}

.Table thead {
  text-align: center;
  vertical-align: middle;
}

.Table td,
.Table th {
  margin: 0;
  border-left: 1px #e1e4e8 solid;
  border-width: 0 0 0 1px;
  text-align: center;
  overflow: visible;
}

.Table th {
  font-size: 22px;
  line-height: 1.425;
}

.Table th span {
  display: block;
  font-size: 16px;
  color: #586069;
}

.Table td {
  font-size: 19px;
  line-height: 1;
}

.Table td,
.Table th {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.Table td:first-child,
.Table th:first-child {
  border-left-width: 0;
}

.RegisterTable {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  background: #fff;
  border: 1px #e1e4e8 solid;
}

@media (min-width: 58em) {
  .RegisterTable {
    width: 92.5%;
  }
}

.RegisterTable thead {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px #e1e4e8 solid;
}

.RegisterTable td,
.RegisterTable th {
  margin: 0;
  border-left: 1px #e1e4e8 solid;
  border-width: 0 0 0 1px;
  text-align: center;
  overflow: visible;
}

.RegisterTable th {
  font-size: 16px;
}

.RegisterTable th span {
  display: block;
  font-size: 14px;
  color: #586069;
}

.RegisterTable thead th {
  font-size: 16px;
}

.RegisterTable td {
  font-size: 0.85rem;
  line-height: 1;
}

.RegisterTable td,
.RegisterTable th {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.RegisterTable-small,
.RegisterTable-small th {
  font-size: 24px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.RegisterTable-small span,
.RegisterTable-small th span {
  display: inline;
}

.RegisterTable td:first-child,
.RegisterTable th:first-child {
  border-left-width: 0;
}

.Payment {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px #e1e4e8 solid;
  border-radius: 4px;
}

@media (min-width: 58em) {
  .Payment {
    width: 92.5%;
  }
}

.Payment-cell {
  display: block;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

.Payment-cell:last-child {
  padding-bottom: 1rem;
}

.Payment-text {
  font-size: 17px;
}

.RegisterNotice {
  position: relative;
  display: block;
  margin-top: 0.8rem;
  width: 100%;
  font-size: 17px;
  font-style: italic;
  text-align: right;
  color: #586069;
}

@media (min-width: 58em) {
  .RegisterNotice {
    width: 92.5%;
  }
}

.RegisterStep {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.35;
  font-weight: bold;
  text-align: center;
  color: white;
  background: #6455bf;
  border-radius: 999rem;
}

@media (min-width: 58em) {
  .RegisterStep {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.RegisterStep span {
  position: absolute;
  display: block;
  top: 0.55rem;
  left: -2.5rem;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  color: #586069;
}

.RegisterTitle {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 0.8rem;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
}

@media (min-width: 48em) {
  .RegisterTitle {
    font-size: 22px;
  }
}

.RegisterForm {
  position: relative;
  display: block;
  margin-top: 3.825rem;
  width: 100%;
}

.Notification {
  position: relative;
  display: block;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 5%;
  padding-left: 5%;
  width: 100%;
  background: #ededed;
}

@media (min-width: 38em) {
  .Notification {
    display: flex;
  }
}

@media (min-width: 48em) {
  .Notification {
    padding-right: 10%;
    padding-left: 10%;
  }
}

.Notification-figure {
  display: none;
  margin-right: 2rem;
}

@media (min-width: 58em) {
  .Notification-figure {
    display: block;
  }
}

.Notification-figure img {
  width: 3.6rem;
  opacity: 0.15;
}

.Notification-message {
  margin: 0;
  padding-right: 2rem;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.015rem;
  text-transform: uppercase;
  color: #333;
}

.Notification-message span {
  margin-top: 0.15rem;
  display: block;
  font-size: 92.5%;
  font-weight: 400;
  line-height: 1.25;
  text-transform: none;
  color: #737373;
}

.Notification-action {
  margin-left: auto;
  display: block;
  padding: 1.5rem 1.75rem;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #F6CA4D;
  border-radius: 3px;
}

.Notification-action:hover,
.Notification-action:focus {
  color: #fff;
  background: #f4bc1c;
}

@media (max-width: 38em) {
  .Notification-action {
    margin-top: 2rem;
  }
}

.WrapWrapWrap {
  margin: 0 auto;
  max-width: 1265px;
  width: 90%;
}

@media (min-width: 20em) {
  .WrapWrapWrap {
    width: 90%;
  }
}

.PlenarySpeakers {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  margin: -1em;
}

.PlenarySpeakers-title {
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: block;
  width: 90%;
  max-width: 1265px;
  font-size: 1.15rem;
  font-weight: 600;
}

@media (min-width: 20em) {
  .PlenarySpeakers-title {
    width: 90%;
  }
}

@media (min-width: 38em) {
  .PlenarySpeakers-title {
    font-size: 1.25rem;
  }
}

@media (min-width: 58em) {
  .PlenarySpeakers-title {
    padding-top: 6rem;
    padding-bottom: 4rem;
    font-size: 28px;
  }
}

.PlenarySpeakers-title>span {
  display: block;
  font-size: 15px;
  line-height: 1;
  text-transform: none;
  color: #586069;
}

.PlenarySpeakers-flag {
  position: absolute;
  display: none;
  top: 0.75rem;
  right: 0.75rem;
  width: 2.4rem;
  border: 1px #e1e4e8 solid !important;
  border-radius: 6px!important;
  opacity: 0.8;
  transform: rotateZ(5deg)!important;
}

@media (min-width: 48em) {
  .PlenarySpeakers-flag {
    display: block;
  }
}

@media (min-width: 64em) {
  .PlenarySpeakers-flag {
    width: 3.2rem;
  }
}

.PlenarySpeakers-person {
  position: relative;
  margin: 1em;
  padding-top: 1rem;
  padding-bottom: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px #e1e4e8 solid;
  border-radius: 6px;
}

@media (min-width: 28em) {
  .PlenarySpeakers-person {
    flex: 0 1 24em;
  }
}

@media (min-width: 48em) {
  .PlenarySpeakers-person {
    text-align: right;
  }
}

@media (min-width: 58em) {
  .PlenarySpeakers-person {
    padding-top: 1rem;
    padding-bottom: 0;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.PlenarySpeakers-person img {
  display: block;
  margin-top: -24px;
  margin-left: -12px;
  max-width: 50%;
  border: 2px solid #6455bf;
  border-radius: 6px;
  transform: rotateZ(-5deg);
}

@media (min-width: 48em) {
  .PlenarySpeakers-person img {
    margin-top: -24px;
    margin-left: -12px;
    max-width: 70%;
  }
}

@media (min-width: 58em) {
  .PlenarySpeakers-person img {
    max-width: 65%;
  }
}

@media (min-width: 64em) {
  .PlenarySpeakers-person img {
    max-width: 174px;
  }
}

.PlenarySpeakers-personWrap {
  display: block;
  padding-bottom: 1rem;
  width: 100%;
}

.PlenarySpeakers-personTopic {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
  border-bottom: 1px #e1e4e8 solid;
}

.PlenarySpeakers-personTopic>span {
  display: block;
  margin-bottom: 6px;
  font-size: 1rem;
  color: #737373;
}

.PlenarySpeakers-personName {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  display: block;
  line-height: 1.15;
  text-align: left;
}

@media (min-width: 64em) {
  .PlenarySpeakers-personName {
    font-size: 24px;
  }
}

.PlenarySpeakers-personPlace {
  margin: 0;
  padding-top: 0.25rem;
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.35;
  text-align: left;
  color: #586069;
}

@media (min-width: 58em) {
  .PlenarySpeakers-personPlace {
    font-size: 17px;
  }
}

.PlenarySpeakers-personLink {
  display: block;
  margin-top: 1rem;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
}

.PlenarySpeakers-notice {
  margin: 0 auto;
  padding-top: 1.5rem;
  display: block;
  width: 90%;
  max-width: 1265px;
  font-size: 0.825rem;
  font-weight: 500;
  text-align: right;
  letter-spacing: 0.01rem;
  color: #cccccc;
}

@media (min-width: 20em) {
  .PlenarySpeakers-notice {
    width: 85%;
  }
}

@media (min-width: 38em) {
  .PlenarySpeakers-notice {
    width: 75%;
  }
}

@media (min-width: 58em) {
  .PlenarySpeakers-notice {
    width: 80%;
  }
}

.Footer {
  padding-top: 2rem;
  position: relative;
  background: url(../images/svg/background--dark.svg), #24292e;
  background-position: center 10%;
  background-size: cover;
}

@media (min-width: 38em) {
  .Footer {
    border-top: 4px solid #1F2429;
  }
}

.Footer p {
  font-size: 18px;
  color: #fff;
}

@media (min-width: 58em) {
  .Footer p {
    padding-right: 2rem;
  }
}

.Footer a {
  font-weight: bold;
  letter-spacing: -0.015rem;
  color: #3393ff;
}

.Footer span {
  display: block;
}

/**
 * Remove footer wraps and all other ones.
 * Replace all wraps with utility classes.
 */

.Footer-wrapUp {
  margin: 0 auto;
  width: 95%;
  max-width: 1265px;
}

@media (min-width: 20em) {
  .Footer-wrapUp {
    width: 90%;
  }
}

.Footer-wrapUp:after {
  content: '';
  display: block;
  clear: both;
}

@media (min-width: 58em) {
  .Footer-first {
    padding-bottom: 1rem;
    width: 40%;
    float: left;
  }
}

@media (min-width: 58em) {
  .Footer-second {
    padding-bottom: 1rem;
    width: 40%;
    float: left;
  }
}

@media (min-width: 58em) {
  .Footer-third {
    padding-bottom: 1rem;
    width: 20%;
    float: left;
  }
}

.Footer-title {
  margin: 0;
  padding-top: 2.5rem;
  padding-right: 0;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
  color: #fff;
}

/**
 * Replace all media queries with pixel values.
 */

@media (min-width: 58em) {
  .Footer-title {
    padding-top: 2rem;
    font-size: 26px;
  }
}

.Footer-copyrights {
  position: relative;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 95%;
  max-width: 1265px;
  font-size: 0.9rem;
  line-height: 1.55;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 20em) {
  .Footer-copyrights {
    width: 90%;
  }
}

@media (min-width: 38em) {
  .Footer-copyrights {
    width: 85%;
  }
}

@media (min-width: 58em) {
  .Footer-copyrights {
    width: 90%;
  }
}

.FooterDude {
  position: absolute;
  display: none;
  top: -88px;
  right: 7.5%;
  width: 90px;
  height: 90px;
}

@media (min-width: 38em) {
  .FooterDude {
    display: block;
  }
}

@media (min-width: 48em) {
  .FooterDude {
    top: -98px;
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 58em) {
  .FooterDude {
    top: -116px;
    right: 6%;
    width: 120px;
    height: 120px;
  }
}
