article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

b,
strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  border-bottom: 1px solid rgb(54 46 135 / 30%);
  color: #362e87;
  text-decoration: none;
  outline: none;
}

a:hover {
  border-color: rgb(54 46 135 / 100%);
}

a:focus-visible {
  outline-offset: 4px;
  outline: 4px dashed #fd0;
  transition: outline-offset 150ms ease;
}

header {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: end;
  gap: 4.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 300px;
}

@media (min-width: 768px) {
  header {
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 450px;
  }
}

@media (min-width: 1024px) {
  header {
    height: 540px;
  }
}

header div {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: .5rem;
}

@media (min-width: 768px) {
  header div {
    flex-direction: row;
    gap: .625rem;
  }
}

header img {
  max-width: 120px;
}

header h1 {
  margin-top: 0;
  margin-bottom: -2px;
  margin-left: 0;
  margin-right: 0;
  font-size: 18px;
  line-height: 1;
  font-weight: normal;
  letter-spacing: -.5px;
  color: #262623;
}

@media (min-width: 768px) {
  header img {
    max-width: 150px;
  }
  
  header h1 {
    font-size: 20px;
  }
}

nav {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  gap: .25rem;
  z-index: 1;
}

@media (min-width: 768px) {
  nav {
    position: relative;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 1.75rem;
    margin-top: 1.75rem;
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  nav {
    gap: 2rem;
    margin-top: 2rem;
  }
}

nav a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 18px;
}

@media (min-width: 38em) {
  nav a {
    font-size: 18px;
  }
}

/* Register button */

nav a:last-of-type {
  padding: 12px 14px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #0366d6;
  border-radius: 6px;

  /* disable registration */
  display: none;
}

nav a:last-of-type:hover {
  text-decoration: none;
  background-color: #0055b5;
}

nav a:last-of-type:focus {
  box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.4);
}

.is-active {
  border-color: rgb(0 84 118 / 100%);
}

.go-out {
  display: none;
}

/* gallery */

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: .25rem;
  width: 16rem;
}

.gallery-item:nth-of-type(3),
.gallery-item:nth-of-type(4) {
  display: none;
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    width: 36rem;
  }

  .gallery-item:nth-of-type(3),
  .gallery-item:nth-of-type(4) {
    display: block;
  }
}

@media (max-width: 768px) {
  .gallery {
    display: none;
    visibility: hidden;
  }
}

.gallery-item {
  background-color: #ecece7;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .25rem;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/10;
  overflow: hidden;
}

.gallery-item:nth-of-type(1) {
  background-image: url(../images/gallery-1.jpg);
  background-position: 50% 100%;
  transform: translate(-10px, -10px);
}

.gallery-item:nth-of-type(2) {
  background-image: url(../images/gallery-2.jpg);
}

.gallery-item:nth-of-type(3) {
  background-image: url(../images/front-img-3.jpg);
  background-position: 50% 50%;
}

.gallery-item:nth-of-type(4) {
  background-image: url(../images/gallery-4.jpg);
  background-position: 50% 50%;
  transform: translate(10px, 10px);
}

main {
  background-color: #f8f8fc;
  position: relative;
  padding-bottom: 4rem;
}

@media (min-width: 38em) {
  main {
    padding-bottom: 12rem;
  }
}

.Article {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1265px;
}

@media (min-width: 20em) {
  .Article {
    width: 90%;
  }
}

.Article p {
  font-size: 16px;
}

@media (min-width: 38em) {
  .Article p {
    font-size: 18px;
  }
}

@media (min-width: 58em) {
  .Article p {
    width: 90%;
  }
}

.Article p sup {
  vertical-align: super;
  font-size: small;
}

.Article li {
  font-size: 18px;
}

.Article-column {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.Article-column--register {
  width: 100%!important;
}

@media (min-width: 48em) {
  .Article-column {
    width: 48%;
  }
}

@media (min-width: 58em) {
  .Article-column {
    padding: 0;
    width: 46%;
    border-bottom: none;
  }
}

.Article-column:last-of-type {
  border-bottom: none;
}

.Article-title {
  margin: 0;
  padding-top: 2rem;
  padding-right: 0;
  font-size: 22px;
  line-height: 1.25;
  letter-spacing: -0.005em;
  font-weight: bold;
}

@media (min-width: 38em) {
  .Article-title {
    font-size: 22px;
  }
}

@media (min-width: 58em) {
  .Article-title {
    padding-top: 2.5rem;
    padding-right: 2rem;
    font-size: 24px;
  }
}

.Article-title sup {
  vertical-align: super;
  font-size: small;
}

.Article-subTitle {
  margin: 0;
  padding-top: 1rem;
  padding-right: 0;
  font-size: 18px;
  line-height: 1.25;
  font-weight: normal;
  text-indent: -0.450rem;
}

@media (min-width: 38em) {
  .Article-subTitle {
    font-size: 22px;
  }
}

@media (min-width: 58em) {
  .Article-subTitle {
    font-size: 22px;
  }
}

.File {
  background: transparent;
  border: 1px solid rgb(54 46 135 / 30%);
  border-radius: .25rem;
  position: relative;
  display: block;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  width: 100%;
  transition: transform 150ms;
}

.File + .File {
  margin-top: 1rem;
}

.File:after {
  display: none;
}

.File:hover {
  border-color: rgb(54 46 135 / 100%);
  transform: translateY(-3px);
  text-decoration: none;
}

.File:before {
  display: none !important;
}

@media (min-width: 38em) {
  .File {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 1.125rem;
    padding-left: 1.125rem;
  }
}

@media (min-width: 58em) {
  .File {
    margin-top: 2.5rem;
  }
}

.File img {
  height: 1.75rem;
}

@media (min-width: 38em) {
  .File img {
    height: 1.75rem;
  }
}

.File-title {
  display: inline-block;
  margin: 0;
  padding-left: 1rem;
  vertical-align: middle;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.35;
}

.DateList {
  list-style: none;
  padding: 0;
}

.DateList-item {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding-top: .375rem;
  padding-bottom: .375rem;
  padding-left: 0;
  padding-right: 0;
}

.DateList-item:first-of-type {
  padding-top: 0;
}

.DateList-item:last-of-type {
  padding-bottom: 0;
}

.DateList-item:not(:last-of-type) {
  border-bottom: 1px solid #dfdff1;
}

.DateList-itemLeft {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-shrink: 0;
  gap: .25rem;
  width: 7.5rem;
}

.DateList-itemRight {
  display: block;
}

.DateList-itemDate {
  color: #e50180;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: right;
}

@media (min-width: 38em) {
  .DateList-itemDate {
    font-size: 18px;
  }
}

.DateList-itemYear {
  display: block;
  font-size: 18px;
  line-height: 1;
  text-align: right;
  color: #000;
}

.DateList-itemTitle {
  display: block;
  font-size: 18px;
  line-height: 1.25;
}

@media (min-width: 38em) {
  .DateList-itemTitle {
    font-size: 18px;
  }
}

.CommList {
  list-style: none;
  padding: 0;
}

.CommList-item {
  list-style: none;
  display: block;
  clear: both;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.8rem;
  padding-left: 1rem;
  background: #fff;
  border: 1px #e1e4e8 solid;
  border-radius: 6px;
}

.CommList-item:after {
  content: '';
  display: block;
  clear: both;
}

.CommList-itemLeft {
  display: block;
  width: 2.6rem;
  float: left;
  border-radius: 100%;
}

.CommList-itemLeft img {
  display: block;
  margin-top: -12px;
  margin-left: -24px;
  opacity: 0.9;
  border: 1px #e1e4e8 solid;
  border-radius: 6px;
  transform: rotateZ(-5deg);
}

.CommList-itemRight {
  display: block;
  float: left;
  width: 75%;
}

.CommList-itemName {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 38em) {
  .CommList-itemName {
    font-size: 22px;
  }
}

.CommList-itemName > span {
  display: block;
  padding-top: 0.25rem;
  font-size: 17px;
  font-weight: 500;
  color: #586069;
}

.Table {
  margin-top: -5rem;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  background: #fff;
  border: 1px #e1e4e8 solid;
}

.Table thead {
  text-align: center;
  vertical-align: middle;
}

.Table td,
.Table th {
  margin: 0;
  border-left: 1px #e1e4e8 solid;
  border-width: 0 0 0 1px;
  text-align: center;
  overflow: visible;
}

.Table th {
  font-size: 18px;
  line-height: 1.3;
  background-color: rgb(225 228 232 / 40%);
  border-bottom: 1px #e1e4e8 solid;
}

.Table th span {
  display: block;
  font-size: 16px;
  color: #586069;
}

.Table td {
  font-size: 16px;
  line-height: 1.35;
}

.Table td b {
  font-size: 14px;
}

.Table td,
.Table th {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: .75rem;
  padding-left: .75rem;
}

.Table td:first-child,
.Table th:first-child {
  border-left-width: 0;
}

.RegisterTable {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  background: #fff;
  border: 1px #e1e4e8 solid;
}

@media (min-width: 58em) {
  .RegisterTable {
    width: 92.5%;
  }
}

.RegisterTable thead {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px #e1e4e8 solid;
}

.RegisterTable td,
.RegisterTable th {
  margin: 0;
  border-left: 1px #e1e4e8 solid;
  border-width: 0 0 0 1px;
  text-align: center;
  overflow: visible;
}

.RegisterTable th {
  font-size: 14px;
}

.RegisterTable th span {
  display: block;
  font-size: 14px;
  color: #586069;
}

.RegisterTable thead th {
  font-size: 16px;
}

.RegisterTable td {
  font-size: 0.85rem;
  line-height: 1;
}

.RegisterTable td,
.RegisterTable th {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.RegisterTable-small,
.RegisterTable-small th {
  font-size: 22px;
  line-height: 1;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.RegisterTable-small span,
.RegisterTable-small th span {
  display: inline;
}

.RegisterTable td:first-child,
.RegisterTable th:first-child {
  border-left-width: 0;
}

.Payment {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px #e1e4e8 solid;
  border-radius: 4px;
}

@media (min-width: 58em) {
  .Payment {
    width: 92.5%;
  }
}

.Payment-cell {
  display: block;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

.Payment-cell:last-child {
  padding-bottom: 1rem;
}

.Payment-text {
  font-size: 17px;
}

.RegisterNotice {
  position: relative;
  display: block;
  margin-top: 0.8rem;
  width: 100%;
  font-size: 17px;
  font-style: italic;
  text-align: right;
  color: #586069;
}

@media (min-width: 58em) {
  .RegisterNotice {
    width: 92.5%;
  }
}

.RegisterStep {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.35;
  font-weight: bold;
  text-align: center;
  color: white;
  background: #6455bf;
  border-radius: 999rem;
}

@media (min-width: 58em) {
  .RegisterStep {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.RegisterStep span {
  position: absolute;
  display: block;
  top: 0.55rem;
  left: -2.5rem;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  color: #586069;
}

.RegisterTitle {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 0.8rem;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
}

@media (min-width: 48em) {
  .RegisterTitle {
    font-size: 22px;
  }
}

.RegisterForm {
  position: relative;
  display: block;
  margin-top: -7rem;
  width: 100%;
  height: 1650px;
}

.Notification {
  position: relative;
  display: block;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 5%;
  padding-left: 5%;
  width: 100%;
  background: #ededed;
}

@media (min-width: 38em) {
  .Notification {
    display: flex;
  }
}

@media (min-width: 48em) {
  .Notification {
    padding-right: 10%;
    padding-left: 10%;
  }
}

.Notification-figure {
  display: none;
  margin-right: 2rem;
}

@media (min-width: 58em) {
  .Notification-figure {
    display: block;
  }
}

.Notification-figure img {
  width: 3.6rem;
  opacity: 0.15;
}

.Notification-message {
  margin: 0;
  padding-right: 2rem;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.015rem;
  text-transform: uppercase;
  color: #333;
}

.Notification-message span {
  margin-top: 0.15rem;
  display: block;
  font-size: 92.5%;
  font-weight: 400;
  line-height: 1.25;
  text-transform: none;
  color: #737373;
}

.Notification-action {
  margin-left: auto;
  display: block;
  padding: 1.5rem 1.75rem;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #F6CA4D;
  border-radius: 3px;
}

.Notification-action:hover,
.Notification-action:focus {
  color: #fff;
  background: #f4bc1c;
}

@media (max-width: 38em) {
  .Notification-action {
    margin-top: 2rem;
  }
}

.WrapWrapWrap {
  margin: 0 auto;
  max-width: 1265px;
  width: 90%;
}

@media (min-width: 20em) {
  .WrapWrapWrap {
    width: 90%;
  }
}

.PlenarySpeakers {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  margin: -1em;
}

.PlenarySpeakers-title {
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: block;
  width: 90%;
  max-width: 1265px;
  font-size: 1.15rem;
  text-align: center;
}

@media (min-width: 20em) {
  .PlenarySpeakers-title {
    width: 90%;
  }
}

@media (min-width: 38em) {
  .PlenarySpeakers-title {
    font-size: 1.25rem;
  }
}

@media (min-width: 58em) {
  .PlenarySpeakers-title {
    padding-top: 8rem;
    padding-bottom: 0;
    font-size: 28px;
  }
}

.PlenarySpeakers-title>span {
  display: block;
  font-size: 15px;
  line-height: 1;
  text-transform: none;
  color: #586069;
}

.PlenarySpeakers-flag {
  position: absolute;
  display: none;
  top: 0.75rem;
  right: 0.75rem;
  width: 2.4rem;
  border: 1px #e1e4e8 solid !important;
  border-radius: 6px!important;
  transform: rotateZ(5deg)!important;
}

@media (min-width: 48em) {
  .PlenarySpeakers-flag {
    display: block;
  }
}

@media (min-width: 64em) {
  .PlenarySpeakers-flag {
    width: 3.2rem;
  }
}

.PlenarySpeakers-person {
  position: relative;
  margin: 1em;
  padding-top: 1rem;
  padding-bottom: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px #e1e4e8 solid;
  border-radius: 6px;
}

@media (min-width: 28em) {
  .PlenarySpeakers-person {
    flex: 0 1 24em;
  }
}

@media (min-width: 48em) {
  .PlenarySpeakers-person {
    text-align: right;
  }
}

@media (min-width: 58em) {
  .PlenarySpeakers-person {
    padding-top: 1rem;
    padding-bottom: 0;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.PlenarySpeakers-person img {
  display: block;
  margin-top: -24px;
  margin-left: -12px;
  max-width: 50%;
  border: 2px solid #6455bf;
  border-radius: 6px;
  transform: rotateZ(-5deg);
}

@media (min-width: 48em) {
  .PlenarySpeakers-person img {
    margin-top: -24px;
    margin-left: -12px;
    max-width: 70%;
  }
}

@media (min-width: 58em) {
  .PlenarySpeakers-person img {
    max-width: 65%;
  }
}

@media (min-width: 64em) {
  .PlenarySpeakers-person img {
    max-width: 174px;
  }
}

.PlenarySpeakers-personWrap {
  display: block;
  padding-bottom: 1rem;
  width: 100%;
}

.PlenarySpeakers-personTopic {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
  border-bottom: 1px #e1e4e8 solid;
}

.PlenarySpeakers-personTopic>span {
  display: block;
  margin-bottom: 6px;
  font-size: 1rem;
  color: #737373;
}

.PlenarySpeakers-personName {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  display: block;
  line-height: 1.15;
  text-align: left;
}

@media (min-width: 64em) {
  .PlenarySpeakers-personName {
    font-size: 24px;
  }
}

.PlenarySpeakers-personPlace {
  margin: 0;
  padding-top: 0.25rem;
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.35;
  text-align: left;
  color: #586069;
}

@media (min-width: 58em) {
  .PlenarySpeakers-personPlace {
    font-size: 17px;
  }
}

.PlenarySpeakers-personLink {
  display: block;
  margin-top: 1rem;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
}

.PlenarySpeakers-notice {
  margin: 0 auto;
  padding-top: 1.5rem;
  display: block;
  width: 90%;
  max-width: 1265px;
  font-size: 0.825rem;
  font-weight: 500;
  text-align: right;
  letter-spacing: 0.01rem;
  color: #cccccc;
}

@media (min-width: 20em) {
  .PlenarySpeakers-notice {
    width: 85%;
  }
}

@media (min-width: 38em) {
  .PlenarySpeakers-notice {
    width: 75%;
  }
}

@media (min-width: 58em) {
  .PlenarySpeakers-notice {
    width: 80%;
  }
}

.Footer {
  background-color: #161236;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Footer h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 20px;
  line-height: 1.25;
  color: #fff;
}

@media (min-width: 58em) {
  .Footer h3 {
    font-size: 22px;
  }
}

.Footer h4 {
  margin-top: 0;
  margin-bottom: .25rem;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}

@media (min-width: 58em) {
  .Footer h4 {
    font-size: 16px;
  }
}

.Footer p {
  margin: 0;
  font-size: 18px;
  color: #fff;
}

.Footer a {
  border-color: rgb(163 157 222 / 40%);
  color: #a39dde;
}

.Footer a:hover {
  border-color: rgb(163 157 222 / 100%);
}

.Footer span {
  display: block;
}

.Footer-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1265px;
}

@media (min-width: 768px) {
  .Footer-container {
    width: 95%;
  }
}

/* .. */

.Footer-container .Footer-block:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.Footer-container .Footer-block:nth-of-type(2) > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Footer-container .Footer-block:nth-of-type(2) > div div {
  background-color: #fff;
  border-radius: .25rem;
  padding: 1.25rem;
  max-width: 320px;
}

.Footer-container .Footer-block:nth-of-type(2) > div div span {
  margin-bottom: 1rem;
  
  font-size: 16px;
  line-height: 1.25;
}

.Footer-container .Footer-block:nth-of-type(3) > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .Footer-container .Footer-block:nth-of-type(1) {
    flex-direction: row;
  }

  .Footer-container .Footer-block:nth-of-type(2) > div {
    flex-direction: row;
  }

  .Footer-container .Footer-block:nth-of-type(3) > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.Footer-copyright {
  font-size: 14px;
  line-height: 1.5;
  color: rgb(255 255 255 / 50%);
}

.covid {
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  line-height: 1;
  text-align: center;
  color: #fff;
  background: #6455bf;
  border-radius: 6px;
}

.covid a {
  color: inherit;
  text-decoration: underline;
}










