.CommList {
  list-style: none;
  padding: 0;
}

  .CommList-item {
    list-style: none;
    display: block;
    clear: both;
    margin-top: 1.5rem;
    padding-left: 1rem;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

    .CommList-itemLeft {
      display: block;
      margin-top: -0.21rem;
      margin-right: 0.75rem;
      width: 1.25rem;
      float: left;
      border-radius: 100%;

      img {
        border-radius: 100%;
        opacity: 0.70;
      }
    }

    .CommList-itemRight {
      display: block;
      float: left;
      width: 65%;
    }

    .CommList-itemName {
      display: block;

      font-size: 0.95rem;
      line-height: 1.25;
      color: grey;

      @media (min-width: 38em) {
        font-size: 1rem;
      }
    }













