.RegisterTable {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  border: 1px solid #eee;

  @media (min-width: 58em) {
    width: 92.5%;
  }
}

  .RegisterTable thead {
    background: #fafafa;
    text-align: center;
    vertical-align: middle;
  }

  .RegisterTable td,
  .RegisterTable th {
    margin: 0;
    border-left: 1px solid #eee;
    border-width: 0 0 0 1px;
    text-align: center;
    overflow: visible;
  }

  .RegisterTable th {
    font-size: 0.715rem;
    text-transform: uppercase;
    letter-spacing: 0.015rem;

    span {
      display: block;

      font-size: 0.675rem;
      color: lighten(#000, 45%);
    }
  }

  .RegisterTable thead th {
    font-size: 0.75rem;
  }

  .RegisterTable td {
    font-size: 0.85rem;
    line-height: 1;
  }

  .RegisterTable td,
  .RegisterTable th {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .RegisterTable-small,
  .RegisterTable-small th {
    font-size: 0.825rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background: #fafafa;

    span {
      display: inline;
    }
  }

  .RegisterTable td:first-child,
  .RegisterTable th:first-child {
    border-left-width: 0;
  }





.Payment {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  background: #fafafa;
  border: 1px solid #eee;

  @media (min-width: 58em) {
    width: 92.5%;
  }
}

  .Payment-cell {
    display: block;

    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    width: 100%;

    &:last-child {
      padding-bottom: 1rem;
    }
  }

  .Payment-text {
    font-size: 0.825rem;
    font-weight: 500;
    letter-spacing: 0.015rem;
    color: lighten(#000, 45%);

    strong {
      font-weight: 600;
      text-transform: uppercase;
      color: #000;
    }
  }

.RegisterNotice {
  position: relative;
  display: block;
  margin-top: 0.75rem;
  width: 100%;

  font-size: 0.795rem;
  font-weight: 500;
  text-align: right;
  letter-spacing: 0.01rem;
  color: lighten(#000, 60%);

  @media (min-width: 58em) {
    width: 92.5%;
  }
}

.RegisterStep {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.35;
  text-align: center;
  color: white;
  background: #ebb10c;
  border-radius: 999rem;

  @media (min-width: 58em) {
    width: 2rem;
    height: 2rem;
  }

  span {
    position: absolute;
    display: block;
    top: 0.55rem;
    left: -2.5rem;

    font-size: 0.825rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.025rem;
    color: lighten(#333, 25%);
  }
}

.RegisterTitle {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 0.5rem;

  font-size: 1rem;
  line-height: 1.25;
  font-weight: 500;
  text-transform: uppercase;
  color: #333;

  @media (min-width: 48em) {
    font-size: 1.125rem;
  }
}

.RegisterForm {
  position: relative;
  display: block;
  margin-top: 3.825rem;
  width: 100%;
}
































